<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div ng-if="!isAuthenticated()">

     <button ng-click="authenticate('google')" class="button button-block icon-left ion-social-googleplus">
       Sign in with Google
     </button>
       </div>
   <div ng-if="isAuthenticated()">
     <div class="card">
       <div class="item item-text-wrap">
         You are currently logged in.
       </div>
     </div>
     <button ng-click="logout()" class="button button-block">
       Log Out
     </button>
   </div>
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
